ZeroTwo/config.py
ZeroTwo/*.session
ZeroTwo/*.session-journal
ZeroTwo/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
ZeroTwo/modules/helper_funcs/temp.txt
ZeroTwo/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
ZeroTwo.session-journal
updates.txt
*.exe